@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* * {
    display: flex;
    flex-direction: column;
} */

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 100%;
}

#header {
    display: flex;
    justify-items: auto;
    align-items: center;
    background-color: rgb(73, 71, 71);
    flex-direction: row;
    height: 10vh;

}

#logo_small {
    height: 10vh;
    width: 10vh;
    margin: 0;
}

#navbar {

    align-items: center;
    justify-content: center;
    margin-left: 10vw;

}


.nav_item {
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    text-decoration-color: white;
}

.nav_item :hover {
    background-color: greenyellow;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#logo_big {
    height: 30vh;
    width: 30vh
}

article {
    display: flex;
    border: 10px;
    /* border-color: white; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;


}

#first_article {
    /* width: 30vw; */
    font-size: 30px;
}

/* #first_article h1 {
    font-size: 25px;
} */


#discover_button {
    padding: 5 10;
    width: fit-content;
    border-radius: 28px;
}

#second_article {
    background-image: url(./assets/background-blue.png);
    background-repeat: repeat;
}

#terminal_window {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 50vw;
    padding: 0;
    border-radius: 5%;
    background-color: rgb(65, 62, 62);

}



#terminal_content {

    height: fit-content;
    background-color: black;
}

#terminal_title {
    height: fit-content;
}

#terminal_footer {
    height: 10;
    width: 100%;
}

#third_article {
    display: flex;
    background-color: white;
    color: black;
}


.courses {
    border: 5px;
}


#fourth_article {
    background-image: url(./assets/background-blue.png);
    background-repeat: repeat;
}