@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


/* * {
    display: flex;
    flex-direction: column;
} */

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;

}

#header {
    display: flex;
    background-color: rgb(73, 71, 71);
    flex-direction: row;

}

#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
}

.nav_item {
    margin: 5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

}


#logo_small {
    height: 13vh;
    width: 8vw;
}


#logo_big {
    height: 13vh;
    width: 8vh
}